services:
  - type: web
    name: inventario-api
    env: node
    buildCommand: npm install
    startCommand: npm start
    plan: free
    rootDir: backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: HUGGINGFACE_API_KEY
        sync: false

